p  {
  color: red;
  width: 500px;
  border: 1px solid black;
}
h1 {
  color: White;
  font-size: 60px;
  text-align: Left;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 3px 1px gray;
  }
h3, h4 {
  color: White;
  font-size: 20px;
  text-align: Left;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 3px 1px gray;
  }
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

h2 {
  color: green;
  font-size: 40px;
  text-align: center;
}
  
html {
  background-color: #000000;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 20px 20px 20px;
  border: 15px white-space;
}
img {
  display: block;
  margin: 0 auto;
  size: 20px;
}
